body {
    background-color: rgb(50,51,55);
}

.top-left-image {
    position: absolute;
    top: 2%;
    left: 20%;
    width: 4%;
    height: auto;
}

#information {
    position: absolute;
    top: 4.25%;
    left: 26%;
    font-size: 32px;
    cursor: pointer;
    color: rgb(85,86,90);
}

#mode {
    background-color: rgb(44,45,49);
    color: rgb(85,86,90);
    border-top-left-radius: 1rem !important;
    border-bottom-left-radius: 1rem !important;
}

#time {
    background-color: rgb(44,45,49);
    color: rgb(85,86,90);
    border-top-right-radius: 1rem !important;
    border-bottom-right-radius: 1rem !important;
}

.input-group-text {
    background-color: rgb(50,51,55);
    border: 0;
}

#gameArea {
    margin-bottom: 20px;
    color: rgb(85,86,90);
}

#score {
    font-size: 18px;
    margin-bottom: 10px;
    color: rgb(85,86,90);
}

#guessInput {
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
}

#submitBtn {
    padding: 10px 20px;
    font-size: 16px;
}

#timer {
    font-size: 18px;
    margin-top: 20px;
    color: rgb(85,86,90);
}

#notFoundRhymes {
    text-align: center;
    width: 450px;
    margin: 0 auto; /* Center horizontally */
    word-wrap: break-word;
    white-space: normal;
    color: rgb(85,86,90);
  }
  
.custom-input-column {
    width: 44%; 
}

.col-auto.border-left {
    width: 31%;
    padding-right: 0%;
}

.custom-input-group {
    height: 60%;
    flex-wrap: nowrap;
    flex-grow: 0;
    width: auto;
}

.custom-input-group .form-control {
    height: 100%;
}


.active {
    color: rgb(226, 183, 20);
}

.cursor-pointer {
    cursor: pointer;
}

.container {
    overflow-x: hidden;
}

@media only screen and (max-width: 1200px) {
    #notFoundRhymes {
        width: 90%;
        margin: 0 auto; /* Center horizontally */
        word-wrap: break-word;
        text-align: center;
    }

    .col-auto.border-left {
        width: 36%;
    }

    .custom-input-column {
        width: 45%; 
    }
  }

  @media only screen and (max-width: 991px) {
    #notFoundRhymes {
        width: 90%;
        margin: 0 auto; /* Center horizontally */
        word-wrap: break-word;
        text-align: center;
    }

    .col-auto.border-left {
        width: 48.5%;
    }

    .custom-input-column {
        width: 45%; 
    }
  }

  @media only screen and (max-width: 767px) {
    #notFoundRhymes {
        width: 90%;
        margin: 0 auto; /* Center horizontally */
        word-wrap: break-word;
        text-align: center;
    }
    #time {
        border-top-left-radius: 1rem !important;
        border-bottom-left-radius: 1rem !important;  
    }
    #mode {
        border-top-right-radius: 1rem !important;
        border-bottom-right-radius: 1rem !important;
    }
    .col-auto.border-left {
        width: 65%;
        border-left: none !important;
    }
    .custom-input-column {
        width: 45%; 
    }
  }

  @media only screen and (max-width: 507px) {
    #notFoundRhymes {
        width: 90%;
        margin: 0 auto; /* Center horizontally */
        word-wrap: break-word;
        text-align: center;
    }
    #time {
        border-top-left-radius: 1rem !important;
        border-bottom-left-radius: 1rem !important;  
    }
    #mode {
        border-top-right-radius: 1rem !important;
        border-bottom-right-radius: 1rem !important;
    }
    .col-auto.border-left {
        width: 69%;
        border-left: none !important;
    }
    .custom-input-column {
        width: 45%; 
    }
  }

  @media only screen and (max-width: 477px) {
    .col-auto {
        width: 100%;
        padding-right: 0 !important;
        padding-left: 0 !important;
        text-align: center;
    }
    .row.justify-content-center{
        width: 50%;
        position: relative;
        left: 25%;
    }
    .col-auto.border-left {
        width: 100%;
        border-left: none !important;
    }
    .custom-input-column {
        width: 57%; 
        margin-left: auto;
        margin-right: auto;
    }
    .form-control {
        width: 66.88px !important;
    }
  }