.container {
    text-align: center;
}

#gameArea {
    margin-bottom: 20px;
}

#score {
    font-size: 18px;
    margin-bottom: 10px;
}

#guessInput {
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
}

#submitBtn {
    padding: 10px 20px;
    font-size: 16px;
}

#timer {
    font-size: 18px;
    margin-top: 20px;
}

#notFoundRhymes {
    text-align: center;
    width: 450px;
    margin: 0 auto; /* Center horizontally */
    word-wrap: break-word;
    white-space: normal;
  }
  
  /* Media query for mobile devices */
  @media only screen and (max-width: 600px) {
    #notFoundRhymes {
        width: 90%;
        margin: 0 auto; /* Center horizontally */
        word-wrap: break-word;
        text-align: center;
    }
  }